.headerWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--badges);
  padding: 24px 0;
}

.logoIcon {
  position: absolute;
  left: 64px;
}

.navList {
  display: flex;
  gap: 32px;
}

.navList a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--main);
}
